/* LAYOUT */

.projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.projects-title {
    font-weight: 800;
    font-size: clamp(18pt, 4vw, 100pt);
}

.projects-content {
    flex: 0.9;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: auto 0;
}

.projects-content>div {
    gap: 10px;
}

.projects-content>div:nth-child(1) {
    display: grid;
    grid-template-columns: 4fr 3fr;
}

.projects-content>div:nth-child(2) {
    display: grid;
    grid-template-columns: 3fr 4fr;
}

/* PROJECT BOXES */
.project-box {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: flex-end;
}

.project-box:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.project-box-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.project-box-content header {
    font-weight: 800;
    font-size: 14pt;
}

.project-box-content p {
    font-weight: 600;
    font-size: 10pt;
}

.project-box-content a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 12pt;
}

.project-box-content a:hover {
    text-decoration: underline;
}