/* LAYOUT */

.projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.projects-title {
    font-weight: 800;
    font-size: clamp(18pt, 3vw, 100pt);
}

.projects-content {
    flex: 0.9;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 90%;
    margin: 10px auto 0 auto;
}

.projects-content>div {
    gap: 10px;
}

.projects-content>div:nth-child(1) {
    display: grid;
    grid-template-columns: 4fr 3fr;
}

.projects-content>div:nth-child(2) {
    display: grid;
    grid-template-columns: 3fr 4fr;
}

/* PROJECT BOXES */
.project-box {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: flex-end;
}

.project-box:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.project-box-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 0 5px 5px;
}

.project-box-content header {
    font-weight: 800;
    font-size: 16pt;
}

.project-box-content span {
    font-weight: 600;
    font-size: 12pt;
}

.project-box-content a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 12pt;
}

.project-box-content a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 425px) {
    .projects-content {
        grid-auto-flow: column;
    }

    .projects-content>div:nth-child(1) {
        grid-template-columns: 1fr;
    }

    .projects-content>div:nth-child(2) {
        grid-template-columns: 1fr;
    }

    .project-box-content span {
        display: none;
    }

    .project-box-content>a:nth-of-type(1) {
        display: none;
    }

    .project-box-content>a:nth-of-type(2) {
        display: block !important;
    }
}

@media screen and (min-width: 1921px) {
    .project-box-content header {
        font-size: clamp(16pt, 3vw, 35pt);
    }

    .project-box-content span {
        font-size: clamp(12pt, 2vw, 22pt);
    }

    .project-box-content a {
        font-size: clamp(12pt, 2vw, 20pt);
    }
}