#hero-header {
    padding-top: 12%;
}

#hero-header #name {
    margin: 0;
    padding: 0;
    font-size: 100px;
    font-weight: 800;
    word-wrap: break-word;
    cursor: default;
}

#hero-body {
    padding-top: 35px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;
    width: max-content;
    gap: 20px;
}

#hero-body .link-button {
    width: 180px;
    font-size: 28px;
}

@media (max-width: 1088px) {
    #hero-body .link-button {
        width: 140px;
        font-size: 20px;
    }

    span.index-module_type__E-SaG {
        font-size: 41px !important;
    }
}

@media (max-width: 906px) {
    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hero-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #hero-header #name {
        font-size: 85px;
        font-weight: 800;
    }

    span.index-module_type__E-SaG {
        font-size: 54.5px !important;
    }

    #hero-body {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 20px;
    }

    #hero-body .link-button {
        width: 200px;
        font-size: 28px;
    }
}

@media (max-width: 550px) {
    #hero-header #name {
        font-size: 70px;
        font-weight: 800;
    }

    span.index-module_type__E-SaG {
        font-size: 45px !important;
    }

    #hero-body {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 20px;
    }

    #hero-body .link-button {
        width: 150px;
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    #hero-header #name {
        font-size: 60px;
        font-weight: 800;
    }

    span.index-module_type__E-SaG {
        font-size: 40px !important;
    }

    #hero-body {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        gap: 20px;
    }

    #hero-body .link-button {
        width: 170px;
        font-size: 25px;
    }
}

@media (max-width: 375px) {
    #hero-header #name {
        font-size: 50px;
        font-weight: 800;
    }

    span.index-module_type__E-SaG {
        font-size: 35px !important;
    }

    #hero-body {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        gap: 20px;
    }

    #hero-body .link-button {
        width: 150px;
        font-size: 20px;
    }
}