#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-name {
    font-size: clamp(35pt, 7vw, 150pt);
    font-weight: 800;
    cursor: default;
    text-align: center;
    margin: 0;
    padding: 0;
}

.hero-body {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hero-body .link-button {
    width: 70%;
    display: flex;
    justify-self: center;
}