#skills h1 {
    margin: 0;
    padding-top: 5px
}

#skills-header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.skill-group {
    font-size: 25px;
    font-weight: 600;
    width: min-content;
}

.skill-group.active {
    text-decoration: underline;
    text-decoration-color: white;
}

.skill-group:hover {
    cursor: pointer;
}

.skills-divider-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.skills-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    padding-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.skills-container::-webkit-scrollbar-thumb {
    background-color: #ebebeb;
}

.skills-container::-webkit-scrollbar-thumb:hover {
    background: #d6d5d5;
}


@media only screen and (max-width: 768px) {
    .skills-container {
        overflow-x: scroll;
    }

    .skills-container::-webkit-scrollbar {
        display: none;
    }
}

.skill-icon {
    width: 80px;
    height: 80px;
    z-index: 0;
    margin-top: 10px;
    display: flex;
    border-radius: 10%;
}

.skill-icon.background {
    background-color: white;
}

.skill-card {
    perspective: 1000px;
    position: relative;
    margin: 5px 10px 0 0;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.card-back span {
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
    color: white;
    text-align: center;
    overflow: hidden;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s;
}

.card-front {
    /* background-color: #30d6ff; */
    background: linear-gradient(135deg, #FF6B6B, #FF9F43);
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    font-size: 18pt;
    font-weight: 600;
    text-align: center;
}

.card-back {
    background: linear-gradient(135deg, #FF6B6B, #FF9F43);
    color: white;
    transform: rotateY(180deg);
    padding: 2px;
}

.card-front span,
.card-back span {
    position: relative;
    z-index: 1;
}

.skill-card:hover .card-front {
    transform: rotateY(180deg);
}

.skill-card:hover .card-back {
    transform: rotateY(0deg);
}

@media only screen and (max-width: 767px) {
    .skill-card {
        width: 100px;
        height: 100px;
    }

    #skills-divider-container {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 20px;
        width: 88vw;
        overflow: hidden;
        padding-right: 0;
    }

    #skills-header {
        grid-auto-flow: row;
        justify-content: center;
    }

    .skills-type {
        width: 60vw;

    }
}

@media only screen and (max-width: 592px) {
    .skill-card {
        width: 80px;
        height: 80px;
    }

    #skills-divider-container {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 20px;
        width: 88vw;
        overflow: hidden;
        padding-right: 0;
    }
}