#skills h1 {
    margin: 0;
    padding-top: 5px;
    font-weight: 700;
    font-size: 33pt;
}

#skills-header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin: 0 10%;
}

.skill-group {
    font-size: 25px;
    font-weight: 600;
    width: min-content;
}

.skill-group.active {
    text-decoration: underline;
    text-decoration-color: white;
}

.skill-group:hover {
    cursor: pointer;
    text-decoration: underline;
}

#skills-divider-container {
    padding: 0;
}

.skills-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    padding-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 4%;
}

.skills-container::-webkit-scrollbar-thumb {
    background-color: #fffdfd;
}

.skills-container::-webkit-scrollbar-thumb:hover {
    background: #e2e2e2;
}

.skills-container::-webkit-scrollbar-track {
    background: linear-gradient(to right, #19a2fd, #1dcaf5);
}

.skill-icon {
    width: 80px;
    height: 80px;
    z-index: 0;
    margin-top: 10px;
    display: flex;
    border-radius: 10%;
}

.skill-icon.background {
    background-color: white;
}

.skill-card {
    perspective: 1000px;
    position: relative;
    margin: 5px 10px 0 0;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.card-back span {
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
    color: white;
    text-align: center;
    overflow: hidden;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s;
}

.card-front {
    background: linear-gradient(135deg, #FF6B6B, #FF9F43);
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    font-size: 18pt;
    font-weight: 600;
    text-align: center;
}

.card-back {
    background: linear-gradient(135deg, #FF6B6B, #FF9F43);
    color: white;
    transform: rotateY(180deg);
    padding: 2px;
}

.card-front span,
.card-back span {
    position: relative;
    z-index: 1;
}

.skill-card:hover .card-front {
    transform: rotateY(180deg);
}

.skill-card:hover .card-back {
    transform: rotateY(0deg);
}

.card-back .card-back-name {
    display: none;
}

@media only screen and (max-width: 768px) {
    .skill-card {
        width: 150px;
        height: 150px;
    }

    #skills-divider-container {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 20px;
        width: 100vw;
        overflow: hidden;
        padding-right: 5px;
        padding-left: 5px;
    }

    #skills-header {
        grid-auto-flow: row;
        justify-content: center;
        transform: translate(0, -40px);
    }

    .skills-type {
        width: 70vw;
    }

    .skill-card .card-front span {
        display: none;
    }

    .skill-card .card-back span {
        font-size: 16px;
    }

    .card-back-desc {
        display: flex;
        align-self: start;
    }

    .card-back {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .card-back .card-back-name {
        display: block;
        font-size: 16pt !important;
        padding: 5px;
        margin-bottom: 5px;
    }

    .skills-container {
        overflow-x: scroll;
    }

    .skill-icon {
        transform: scale(1.5);
        margin: 0;
    }

    .card-front {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    #skills-divider-container {
        gap: 0;
    }

    .skills-type {
        align-self: start;
        margin: 10px 0;
        padding: 5px 0;
        display: flex;
        justify-content: center;
    }

    .skills-container {
        overflow-x: hidden;
        overflow-y: auto;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 1fr);
        max-height: 220px;
        gap: 5px;
    }

    .skills-container::-webkit-scrollbar {
        display: none;
    }

    .skill-card {
        width: 100px;
        height: 100px;
    }

    .skill-icon {
        transform: scale(1);
    }

    .card-back .card-back-name {
        font-size: 12pt !important;
    }

    .card-back .card-back-desc {
        font-size: 10pt !important;
    }
}


@media screen and (max-width: 600px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 414px) {
    .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }

}