#skills {
    overflow: hidden;
}

#skills-divider-container>div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

/* HEADER */
#skills-header {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 15px;
}

#skills-header>header {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 700;
}

#skills-header>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 600;
}

.skill-group {
    cursor: pointer;
}

.skill-group:hover {
    text-decoration: dashed underline;
}

.skill-group.active {
    text-decoration: underline;
}


/* CONTENT */
#skills-content {
    flex: 1;
    display: flex;
    overflow-x: auto;
    max-width: 90%;
    padding-right: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#skills-content .skills-type {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* SCROLLBAR */
#skills ::-webkit-scrollbar-thumb {
    background-color: #e9e7e7;
}

#skills ::-webkit-scrollbar-thumb:hover {
    background: #aaa9a9;
}

#skills ::-webkit-scrollbar-track {
    background: #2e2e2e;
}

/* SKILLS CONTAINER - MULTIPLE THINGS WITH THE ICONS */
.skills-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 15px;
}

/* SKILL CARDS */
.skill-card {
    position: relative;
    cursor: pointer;
    width: clamp(87px, 10vw, 130px);
    height: clamp(87px, 10vw, 130px);
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.card-front-name,
.card-back-name {
    font-size: clamp(9pt, 1.75vw, 22px);
}

.skill-icon {
    display: flex;
    width: clamp(55px, 7vw, 80px);
    height: clamp(55px, 7vw, 80px);
    z-index: 0;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .skill-icon {
        margin-top: 0;
    }

    .card-front-name {
        display: none;
    }

    .card-back-name {
        display: block !important;
        text-decoration: underline;
    }
}

.skill-icon.background {
    background-color: white;
}

.card-front:hover,
.card-back:hover {
    background: linear-gradient(135deg, #e2e2e2, #f0eeee);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.card-front {
    background: linear-gradient(135deg, #ffffff, #f0eeee);
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;
    font-size: clamp(0.8rem, 3vw, 1.3rem);
    font-weight: 600;
    text-align: center;
}

.card-back {
    background: linear-gradient(135deg, #ffffff, #f0eeee);
    transform: rotateY(180deg);
    font-size: clamp(0.65rem, 1.5vw, 1rem);
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-front span,
.card-back span {
    position: relative;
    z-index: 1;
    color: black;
    padding: 0 1px;
}

.card-front span {
    margin-bottom: 10px;
}

.skill-card .card-front.active {
    transform: rotateY(180deg);
}

.skill-card .card-back.active {
    transform: rotateY(0deg);
}

.card-back .card-back-name {
    display: none;
}