:root {
  --lr-padding: 10%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.page-section {
  padding-right: var(--lr-padding);
  padding-left: var(--lr-padding);
  height: 100vh;
  overflow: hidden;
  background-color: white;
  color: black;
}

h1.header {
  font-size: 60px;
  font-weight: 700;
  cursor: default;
  margin: 0;
  padding: 0;
}

.divider {
  padding-right: var(--lr-padding);
  padding-left: var(--lr-padding);
}